table {
	margin-top: 20px;
	width:85%;
    border-collapse: collapse;
}
	
tr:nth-child(even) {
  color: black;
}

tr:nth-child(odd) {
  background-color: #61CE70;
  color: white;
}

h1 {
	text-align: center;
}

dt {
	font-weight: bold;
	margin: 10px;
}

th {
	font-size: 15px;
	text-align: center;
	height: 5px;
	border: 2px solid #808080;
}

td {
	font-size: 13px;
	border: 2px solid #808080;
	vertical-align: top;
}